<%- include('partials/_header') %>
<%- include('partials/_search-bar') %>
<div class="food-list-item-container">
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
    <%- include('partials/_food-list-item') %>
</div>

<%- include('partials/_footer') %>